.tree-wrap{
  padding: 12px;
  background: #fff;
  border-radius: 10px;
  .ant-btn {
    border-radius: 5px;
  }
  .selectGroupWrap {
    overflow-y: auto;
    border-radius: 5px;
    padding: 0 5px 0 0px;
    position: relative;
    .selectGroupLi {
      padding: 5px 5px 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 5px 0 0 10px;
      position: relative;
      &:first-child {
        margin-left: 0px;
        border: none;
        padding: 0px 5px 5px 0;
        overflow: hidden;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: -42px;
        border-width: 0 0 2px 2px;
        left: -11px;
        width: 10px;
        height: calc(50% + 58px);
        border-color: #08c;
        border-style: solid;
      }
      &:after {
        top: 50%;
        border-width: 0 0 0 2px;
      }
      &:last-child {
        &:after {
          top: -42px;
        }
      }
      .selectListLi {
        padding: 6px 5px 6px 10px;
        border-radius: 5px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -25px;
          border-width: 0 0 2px 2px;
          left: 0px;
          width: 10px;
          height: calc(50% + 27px);
          border-color: #08c;
          border-style: solid;
        }
        & > div {
          display: inline;
        }
        button {
          vertical-align: top;
        }
      }
      /* 开关组件 */
      .ant-switch {
        background: #08c;
        min-width: 121px !important;
        border-radius: 5px;
        height: 32px;
        line-height: 32px;
        .ant-switch-checked:after {
          margin-left: 0px;
        }
        .ant-switch-inner {
          margin-left: 82px;
          font-size: 14px !important;
        }
        .ant-switch-handle {
          height: 30px;
          width: 60px;
          top: 1px;
          &::before {
            border-radius: 5px 0 0 5px;
            content: "AND";
          }
        }
        &.ant-switch-checked {
          .ant-switch-inner {
            margin-left: 0;
            width: 60px;
          }
          .ant-switch-handle {
            left: 60px;
            &::before {
              content: "OR";
              border-radius: 0 5px 5px 0;
            }
          }
        }
      }
    }
  }
  .hide{
    display: none!important;
  }
}